:root {
    --background-color: hsl(212, 45%, 89%);
    --background-container: hsl(0, 0%, 100%);
}
body {
    background-color: var(--background-color);
}

.main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagem {
    width: 330px;
    height: 330px;
    border-radius: 15px;
    margin-bottom: 20px;
}
.qr-container {
    width: 375px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-container);
    border-radius: 15px;
    text-align: center;
    padding: 38px;
}


.paragraph {
    padding: 20px;
}

.qr-container h1{
    font-size: 25px;
}


